<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hop.nami">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <!--Trocar intent-filter de volta para SplashActivity-->
        <activity android:name=".activity.SplashActivity">
        </activity>
        <activity android:name=".activity.ChatActivity" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" android:theme="@android:style/Theme.Material.NoActionBar">
        </activity>
    </application>
</manifest>
